@model IndexViewModel

@{
    ViewData["Title"] = "Books";
}

    <div class="container-fluid">

        @if (Model.Books.Count() > 0)
        {
            <partial name="_pagination" for="PaginationInfo" />
            <hr style="width:100%;">

            <div class="row">
                @foreach (var book in Model.Books)
                {
                    <partial name="_book" model="book" />
                }
            </div>

            <hr style="width:100%;">
            <partial name="_pagination" for="PaginationInfo" />
        }
        else
        {
            <div class="row">
                THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
            </div>
        }
    </div>
